html, body, header , #intro {
	height: 100%;
}
/*anchor to makesure the Navbar doesn't overlap the sections*/
.anchor {
	display:block;
	height:57px;
	margin-top: -57px;
	visibility: hidden;
}

#intro {
	background: url('../img/background.png') no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}

.top-nav-collapse {
	background-color: black;
}

#aboutMe img {
	height: 300px;
	width: 300px;
	border-radius: 50%;
}

#bpImage {
	height: 375px;
	background: url('../img/coding.png') no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
nav.shrink {
	background-color: #24355c;
}
@media (max-width: 991px) {
	.navbar {
		background-color: #24355c;
	}
}